* {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica";
	font-weight: lighter;

}

body {

}

.bigtext {
	position: absolute;
	font-family: "Helvetica";
	font-size: 100px;
	text-align: center;
	-webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
   display: inline-block;
   white-space: nowrap;
   text-decoration: none;
}

.bigtext:hover {
	-webkit-text-fill-color: black;
}

.contact {
	width: -webkit-fit-content;
	background-color: white;
	border: 1px solid black;
	padding: 20px;
	position: absolute;
}

#email {
	left: 17%;
	top: 10%;
}

#linkedin {
	top: 65%;
	left: 23%;
}

#insta {
	right: 15%;
	top: 35%;
}

.one {
	transform: rotate(40deg);
	transform-origin: bottom left;
	top: 0px;

}

.two {
	top: 0;

}

.three {
	top: 10%;
	transform: rotate(-5deg);
	right: 0px;
	
}

.viewer {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 600px;
	overflow: scroll;
	border: 1px solid black;


}

.viewercontainer {
    width: 70%;
    height: 700px;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	position: absolute;
    display: inline-block;

}

.magnolia {
	top: 0px;
	left: 0px;
	z-index: 1;
	display: inline-block;
	width: 80%
}

.recipes {
	top: 30px;
	left: 30px;
	z-index: 2;
	display: inline-block;
	width: 80%
}

.bowie {
	top: 60px;
	left: 60px;
	z-index: 3;
	display: inline-block;
	width: 80%
}

.sxsw {
	top: 90px;
	left: 90px;
	z-index: 4;
	display: inline-block;
	width: 80%
}

.image {
	max-height: 100%;
	max-width: 100%;
}

.nav {
	bottom: 10px;
	right: 10px;
	position: absolute;
	width: 200px;
	max-height: 200px;
	height: 200px;
	border: 1px solid black;
	
}

.linktext {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 30px;
	padding-right: 30px;
	text-decoration: none;
	display: block;
	font-size: 50px;
	-webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
   display: inline-block;
}

.linktext:hover {
	-webkit-text-fill-color: black;
}

.linktext:active {
	text-decoration: line-through;
}

.instruct {
	position: fixed;
	text-align: center;
	width: 100%;
	height: 30px;
	bottom: 40px;
	font-size: 50px;
	-webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
   display: none;
}

.bowie:hover + .instruct {
	position: relative;
	display: inline-block;
}

.magnolia:hover + .instruct {
	position: relative;
	display: inline-block;
}

.recipes:hover + .instruct {
	position: relative;
	display: inline-block;
}




 .ui-resizable-helper { 
 	border: 2px dotted black; 
 }

 .about {
 	position: absolute;
 	width: 50%;
 	height: 500px;
 	margin: auto;
 	top:0;
 	bottom: 0;
 	right: 0;
 	left: 0;
 	background-color: white;
 	border: 1px solid black;
 	z-index: 10;
 	overflow: scroll;
 	padding: 20px;
 }

 .bodytext {
 	font-size: 100px;
	-webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

 }

 #smiley {
 	text-align: center;
 }

 .bodytext:hover {
 	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
 }

 .description {
 	position: fixed;
 	top: 0px;
 	width: 100%;
 	height: 50vh;
 	padding: 20px;
 	overflow: scroll;
 	background-color: white;
 	border: 1px solid black;
 	font-size: 50px;
	-webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
   z-index:95;
   display: none;
 }

 .description:hover {
 	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
 }


#arrow {
	position: absolute;
	right: 0;
	top: 0;
	height: 100px;
	z-index: 10000;
}

